{
  "arrowParens": "avoid",
  "bracketSameLine": false,
  "bracketSpacing": true,
  "endOfLine": "lf",
  "jsxSingleQuote": false,
  "printWidth": 100,
  "proseWrap": "preserve",
  "quoteProps": "as-needed",
  "semi": true,
  "singleQuote": true,
  "tabWidth": 2,
  "trailingComma": "es5",
  "plugins": ["@trivago/prettier-plugin-sort-imports"],
  "importOrder": [
    "^react(.*)",
    "^@mui/(.*)",
    "^@(.*)",
    "<THIRD_PARTY_MODULES>",
    "\\$routes",
    "\\$routes/(.*)",
    "\\$contexts",
    "\\$contexts/(.*)",
    "\\$configs",
    "\\$configs/(.*)",
    "\\$desktop",
    "\\$desktop/(.*)",
    "\\$libs",
    "\\$libs/(.*)",
    "\\$utils",
    "\\$utils/(.*)",
    "\\$services",
    "\\$services/(.*)",
    "\\$hooks",
    "\\$hooks/(.*)",
    "\\$pages",
    "\\$pages/(.*)",
    "\\$components",
    "\\$components/(.*)",
    "./(.*)",
    "\\$types",
    "\\$types/(.*)",
    "\\$styles",
    "\\$styles/(.*)",
    "(.*).css"
  ],
  "importOrderSeparation": true
}
